.Container_principal{
    background-image: url('../assets/abstract-background_53876-90689.avif');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}
.Container_formulario{    
    border: 0.5px solid black;    
    margin-left: 8vw;
    margin-right: 8vw;    
    height: 65vh;
    border-radius: 20px;    
}

@media (max-width: 600px) { 

    
    
}
